{namespace fm=Lanius\Forumman\ViewHelpers}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">

                <f:security.ifAuthenticated>
                    <f:then>
                        <div class="card shadow-sm border-0">
                            <div class="card-body">
                                <h3 class="card-title mb-4">
                                    {f:translate(key: 'loginbox.account', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
                                </h3>

                                <p class="mb-3" style="border-bottom:1px #bebcbc solid; padding-bottom:1rem;">
                                    {f:translate(key: 'loggedInAs', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}  
                                    
                                        <f:format.htmlspecialchars>
                        <f:format.case mode="capitalWords">
                                    {username}
                        </f:format.case>
                        </f:format.htmlspecialchars>
                                </p>

                                    <ul class="account-menu mb-3" style="border-bottom:1px #bebcbc solid; padding-bottom:1rem;">
                                        <li>
                                            <core:icon identifier="actions-user" size="small" />
                                            <f:link.action action="show" controller="User" arguments="{user: user}">
                                                {f:translate(key: 'profilLinkText', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')} 
                                            </f:link.action>
                                        </li>
                                        <li>
                                            <core:icon identifier="actions-envelope-open-text" size="small" />
                                            <f:link.action action="showMailbox" controller="Message" arguments="{user: user}">
                                                {f:translate(key: 'mailboxLinkText', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
                                            </f:link.action>
                                        </li>
                                        <li>
                                            <core:icon identifier="actions-system-extension-configure" size="small" />
                                            <f:link.action action="settings" controller="User" arguments="{user: user}">
                                                {f:translate(key: 'settingsLinkText', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
                                            </f:link.action>
                                        </li>
                                    </ul>

                                <f:link.action action="logout" class="btn btn-danger">  
                                    Logout
                                </f:link.action>
                            </div>
                        </div>
                    </f:then>

                    <f:else>
                        <div class="card shadow-sm border-0">
                            <div class="card-body">
                                <h3 class="card-title mb-4">Login</h3>

                                <f:form action="index" method="post" pageUid="{data.uid}" class="mb-4">
                                
                                    <div class="mb-3">
                                        <label for="username" class="form-label">
                                            {f:translate(key: 'loginbox.username', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
                                        </label>
                                        <f:form.textfield 
                                            name="username" 
                                            id="username" 
                                            class="form-control" 
                                            placeholder="{f:translate(key: 'loginbox.username', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}"
                                        />
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label">
                                            {f:translate(key: 'loginbox.password', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
                                        </label>
                                        <f:form.password 
                                            name="password"
                                            id="password" 
                                            class="form-control"
                                            placeholder="{f:translate(key: 'loginbox.password', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}"
                                        />
                                    </div>

                                    <div class="d-grid">
                                        <f:form.submit 
                                            value="Login" 
                                            class="btn btn-primary btn-lg" 
                                            name="submit"
                                        />
                                    </div>

                                </f:form>

                                

                                <p style="font-style: italic; font-size:0.9rem;" class="now_register">
                                    {f:translate(key: 'loginbox.no_register', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')} 
                                    <f:link.page pageUid="{settings.registerUid}">&#10146; 
                                        {f:translate(key: 'loginbox.now_register', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
                                    </f:link.page>
                                </p>

                            </div> 
                        </div>
                    </f:else>
                </f:security.ifAuthenticated>

            </div>
        </div>
    </div>
