{namespace fm=Lanius\Forumman\ViewHelpers}

<fm:pageTitle title="
{f:translate(key: 'replyWriteTitletag', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}: 
{post.title}" 
/>


<f:form action="replyWrite" method="post">

    <!-- Titel -->
    <div class="form-group">
        <label for="title">Titel</label>
        <f:form.textfield name="title" id="title" class="form-control" />
    </div>

    <!-- Inhalt -->
    <div class="form-group">
        <label for="content">Inhalt</label>
        <div class="editor-container editor-container_classic-editor">
            <div class="editor-container__editor">
                <f:form.textarea name="content" id="content" class="form-control" rows="6" />
            </div>
        </div>
    </div>

    <!-- Versteckte Felder -->
    <f:form.hidden name="parent" value="{post.uid}" />
    <f:form.hidden name="forum" value="{forum.uid}" />
    <f:form.hidden name="user" value="{userid}" />

    <!-- Buttons -->
    <div class="button_tool_bar">
        <div class="tool_bar_left">
            <f:link.action action="show" arguments="{forum: forum, post: post}" class="btn btn-secondary">
                Zurück zur Übersicht
            </f:link.action>
        </div>

        <div class="tool_bar_right">
            <f:form.submit value="Beitrag erstellen" name="submit" class="btn btn-primary" />
        </div>
    </div>

</f:form>



<style>
.ck-editor__editable {
  min-height: 500px;
  width:100%;
}
.editor-container_classic-editor .editor-container__editor {
    min-width: 100%;
    max-width: 100%;
}
</style>