{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace fm=Lanius\Forumman\ViewHelpers}



<f:layout name="Default" />

<f:section name="HeadMetaTags">
    <fm:pageTitle title="{forum.title} - {f:translate(key: 'page_number_label', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')} {currentPage}" prefix="{forum.category.title}: " />
</f:section>

<f:section name="main">

<h1 class="tx_forumman_forumtitle">{forum.category.title}: {forum.title}</h1>

<!-- Threads List -->
<div class="button_tool_bar">
    <div class="tool_bar_left">
    <f:link.page pageUid="{settings.forumPagePid}" class="btn back-link">
    {f:translate(key: 'backToForumOverview', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
</f:link.page>
</div>
<div class="tool_bar_right">
    <f:security.ifAuthenticated>
        <f:link.action action="newThread" arguments="{forumUid: forum.uid}" class="btn btn-primary new-thread">
        {f:translate(key: 'newPostText', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
    </f:link.action>
    </f:security.ifAuthenticated>
    </div>
</div>

 <f:if condition="!{threads}">
    <div class="no_threads_found">
        <div class="alert alert-secondary text-center" role="alert">
            {f:translate(key: 'noThreads', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
        </div>
    </div>
 </f:if>


<f:for each="{threads}" as="thread" iteration="i">

    <article class="thread-card">
        <f:if condition="{thread.solved}">
            <core:icon identifier="tx-forumman-solved" size="small" />
        </f:if>
        <h2 class="thread-title">
            <f:link.action action="show" arguments="{post: thread, forum: forum}">
                {thread.title}
            </f:link.action>
        </h2>

        <div class="thread-meta">
            <span class="thread-date">
                {f:translate(key: 'createdAt', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}: 
                <f:if condition="{fm:languageKey()} == 'de'">
                    <f:then>
                        {thread.createdAt -> f:format.date(format:'d.m.Y, H:i')}
                    </f:then>
                    <f:else if="{fm:languageKey()} == 'en'">
                        {thread.createdAt -> f:format.date(format:'d M Y, H:i', locale:'en_US')}
                    </f:else>
                    <f:else>
                        {thread.createdAt -> f:format.date(format:'d.m.Y - H:i')}
                    </f:else>
                </f:if>
        
            
            </span>
            <span class="thread-author">
                {f:translate(key: 'autorLabel', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}:<br />
                
                <f:link.action action="show" controller="User" arguments="{user: thread.user}" class="userlink">
                    <f:format.htmlspecialchars>
                        <f:format.case mode="capitalWords">
                            {thread.user.username}
                        </f:format.case>
                    </f:format.htmlspecialchars> 
                </f:link.action>
            </span>
        </div>

        <f:if condition="{thread.replyCount} > 0">
            <hr />
            <div class="thread-meta-count">
                <span>{thread.replyCount} 
                    <f:if condition="{thread.replyCount} == 1">
                        <f:then>
                            <f:translate key="reply.singular" />
                        </f:then>
                        <f:else>
                            <f:translate key="reply.plural" />
                        </f:else>
                    </f:if>
                </span>
            </div>
        </f:if>
    </article>
</f:for>


<f:if condition="{paginator.numberOfPages} > 1">
<!-- Pagination -->
<div class="pagination">
    <ul class="pagination">
    <!-- Vorherige Seite -->
    <f:if condition="{previousPage}">
    <li class="page-item">
        <f:link.action action="showThreads" arguments="{forumUid: forum.uid, currentPage: previousPage}" class="page-link">
            &laquo; {f:translate(key: 'backLinkText', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')}
        </f:link.action> 
    </li>
</f:if>

    <f:if condition="{pagination.hasLessPages}">
<a href="javascript:void();" class="page-link">
...
</a>
</f:if>


    <!-- Seitenzahlen im Sliding Window -->
    <f:for each="{pagination.allPageNumbers}" as="page">
        
        <li class="page-item">
        <f:link.action action="showThreads" arguments="{forumUid: forum.uid, currentPage: page}" class="page-link {f:if(condition:'{currentPage}=={page}',then:'active')} ">
            {page}
        </f:link.action>
    </li>
    </f:for>

    <f:if condition="{pagination.hasMorePages}">
        <li class="page-item">
<a href="javascript:void();" class="page-link">
...
</a>
        </li>
</f:if>

    <!-- Nächste Seite -->
    <f:if condition="{nextPage}">
    <li class="page-item">
        <f:link.action action="showThreads" arguments="{forumUid: forum.uid, currentPage: nextPage}" class="page-link">
            {f:translate(key: 'nextLinkText', extensionName: 'Forumman', languageKey: '{fm:languageKey()}')} &raquo;
        </f:link.action>
    </li>
</f:if>

</ul>
</div>
</f:if>

</f:section>