.lastUsersOnline {
    background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 15px 20px;
  max-width: 300px;
  font-family: Arial, sans-serif;
}
.lastUsersOnline h3 {
    margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.lastUsersOnline img {
    border: 1px #979797 solid;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.lastUsersOnline .user-item {
    display:flex; 
    gap:10px; 
    margin-bottom:15px; 
    align-items:center;
}

.user-information {
    display: block;
}
.user-information .username, .user-information .user-groups {
    display: block;
}